- zunächst ins Verzeichnis gehen in dem die .pkl Dateien liegen

In [6]:
! pip install joblib
! pip install numpy
! pip install joblib

Looking in indexes: https://aws:****@ksbml-159605054959.d.codeartifact.eu-central-1.amazonaws.com/pypi/default/simple/
Requirement already satisfied: joblib in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.0.1)
Looking in indexes: https://aws:****@ksbml-159605054959.d.codeartifact.eu-central-1.amazonaws.com/pypi/default/simple/
Requirement already satisfied: numpy in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.19.5)
Looking in indexes: https://aws:****@ksbml-159605054959.d.codeartifact.eu-central-1.amazonaws.com/pypi/default/simple/
Requirement already satisfied: joblib in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.0.1)

In [4]:
import joblib
import numpy
import pandas

In [8]:
with open("summarizing_statistics.pkl", 'rb') as f:
    summarizing_statistics = joblib.load(f)

In [10]:
summarizing_statistics

,number_of_datapoints,energy_norm_log_mean,temperature_diff_mean,rms_norm_log_mean,details_ratedhead_mean,energy_norm_log_min,temperature_diff_min,rms_norm_log_min,details_ratedhead_min,energy_norm_log_max,temperature_diff_max,rms_norm_log_max,details_ratedhead_max,Covariance_matrix
on,9680213,1.86194,9.51319,0.730331,105.324,-5.91448,-24,-3.0439,-1,9.21209,110.625,6.30874,2403,"[[4.054988675775044, 1.6181932043448362, 1.438..."
off,16775063,-3.22613,1.27451,-1.54288,89.3192,-10.6052,-38.875,-4.43031,-1,7.58884,109.141,4.13824,2403,"[[1.5394827351582467, 0.21880415026212985, 0.7..."
all,26455276,-1.36436,4.28912,-0.711095,95.1754,-10.6052,-38.875,-4.43031,-1,9.21209,110.625,6.30874,2403,"[[8.466562429846425, 10.45687699516861, 3.7031..."

In [5]:
with open("./data/dataset_2_pumps.pkl", 'rb') as f:
    dataset_2_pumps = joblib.load(f)

In [6]:
dataset_2_pumps

,pumpid,energy_norm_log,temperature_diff,rms_norm_log,details_ratedhead,onoff_proba
0,7bacb644-d600-4aa3-909f-c03c2077ff70,-2.123735,-1.062500,0.343480,94.45,0.047541
1,7bacb644-d600-4aa3-909f-c03c2077ff70,-3.886206,-0.683515,-1.910343,94.45,0.000119
2,7bacb644-d600-4aa3-909f-c03c2077ff70,-4.019799,-0.540290,-2.004817,94.45,0.000119
3,7bacb644-d600-4aa3-909f-c03c2077ff70,-3.876123,-0.483659,-1.905951,94.45,0.000119
4,7bacb644-d600-4aa3-909f-c03c2077ff70,2.666156,-0.375000,0.476810,94.45,0.265332
...,...,...,...,...,...,...
24811,6826ff5e-f760-4e57-9f42-14797b8319ef,2.475133,3.444166,0.940906,23.00,0.997134
24812,6826ff5e-f760-4e57-9f42-14797b8319ef,2.488424,3.442503,0.958015,23.00,0.997134
24813,6826ff5e-f760-4e57-9f42-14797b8319ef,2.491038,3.520001,0.938072,23.00,0.997134
24814,6826ff5e-f760-4e57-9f42-14797b8319ef,2.454421,3.572500,0.904463,23.00,0.995626
24815,6826ff5e-f760-4e57-9f42-14797b8319ef,2.491132,3.625000,0.926741,23.00,0.995679

In [8]:
dataset_2_pumps.describe()

,energy_norm_log,temperature_diff,rms_norm_log,details_ratedhead,onoff_proba
count,46713.000000,46713.000000,46713.000000,46713.000000,46713.000000
mean,2.564778,1.340644,0.690793,58.825186,0.773794
std,1.079253,3.052561,0.388654,35.725242,0.276721
min,-4.169892,-4.125000,-2.247342,23.000000,0.000116
25%,2.092401,-1.150462,0.474719,23.000000,0.722992
50%,2.744018,0.812500,0.783565,94.450000,0.912615
75%,2.990352,2.679982,0.937485,94.450000,0.990433
max,6.116976,18.937500,2.118297,94.450000,0.998136

In [7]:
joblib.__version__

'1.0.1'